includes:
    - %currentWorkingDirectory%/vendor/larastan/larastan/extension.neon
    - %currentWorkingDirectory%/vendor/nesbot/carbon/extension.neon
    - phpstan-baseline.php

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/app
